@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

.apexcharts-title-text{
    font-size: 20px;
}
.apexcharts-subtitle-text{
    font-size: 15px;
}

/* Alteração na cor dos elementos gerados pelo ApexCharts */
.apexcharts-title-text,
.apexcharts-subtitle-text,
.apexcharts-legend-text,
.apexcharts-xaxis-label,
.apexcharts-yaxis-label {
    fill: #ffffff !important; /* força o branco */
    color: #ffffff !important;
}

